@import "tailwindcss";

@theme {
  --color-accent: #2563eb;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--color-accent);
  color: white;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
